html {
    font-size: 10px;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    background-color: #E4DBBF;
    overflow-x:  hidden;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    justify-content: center;
    position: relative;
    z-index: 3;
    margin: auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.header, .rating, .buttons{
    max-width: 1400px;
    @media (max-width: 1399px) {
        max-width: 1040px;
    }
    @media (max-width: 1100px) {
        max-width: 680px;
    }
    @media (max-width: 736px) {
        max-width: 320px;
    }
    @media (max-width: 360px) {
        max-width: calc(100% - 40px);
    }
}

.burger {
    span {
        background-color: #383127;
        display: block;
        width: 30px;
        height: 4px;
        margin-bottom: 4px;
        transition: 0.5s;
        transform-origin: left;
    }
    &:hover {
        cursor: pointer;
        span {
            background-color: #7e6c53;
        }
    }
    &_active {
        span:nth-child(2) {
            opacity: 0;
        }
        span:first-child {
            width: 22px;
            transform: rotate(45deg);
        }
        span:last-child {
            width: 22px;
            transform: rotate(-45deg);
        }
    }
}

.mode {
    position: relative;
}
.checkbox {
    right: 0;
}

.checkbox input {
    position: absolute;
	opacity: 0;
}

.checkbox__text {
    cursor: pointer;
    position: relative;
    font-size: 2.4rem;
    font-weight: 400;
    color: #E4DBBF;
    &:before {
        content: '';
        right: 0;
        position: absolute;
        top: -4px;
        width: 120px;
        height: 35px;
        border-radius: 7px;
        background: linear-gradient(to bottom, #DC5B21, rgb(255, 150, 101));
    }

    &:after {
        content: '';
        position: absolute;
        top: 2px;
        left: -113px;
        width: 22px;
        height: 22px;
        border-radius: 7px;
        background: rgb(221, 221, 221);
        box-shadow: inset 0 0 7px rgba(0,0,0,.3);
        transition: .2s;
        
    }

    &.train:before {
        content: 'TRAIN';
        padding-left: 38px;
        padding-top: 5px;
        box-sizing: border-box;
    }
    
    &.play:before {
        content: 'PLAY';
        padding-left: 14px;
        padding-top: 5px;
        box-sizing: border-box;
    }
}

.checkbox input:checked + .checkbox__text:before {
    background: linear-gradient(to bottom, #70AB8F, rgb(48, 105, 79));
}
.checkbox input:checked + .checkbox__text:after {
	left: -29px;
}

.side-menu {
    transition: 0.5s;
    position: absolute;
    top: 0;
    z-index: 2;
    height: 100vh;
    width: 430px;
    left: -430px;
    background: linear-gradient(to bottom, #DC5B21, rgb(206, 156, 133));

    @media(max-width: 738px) {
        width: 50vw;
    }
    &_play {
        background: linear-gradient(to bottom, #70AB8F, rgb(1, 138, 76));
    }
    &_active {
        transition: 0.5s;
        left: 0;
    }

    &__links {
        font-size: 4vh;
        width: 150px;
        display: flex;
        flex-direction: column;
        padding: 25vh 0 0 120px;
        @media(max-width: 738px) {
            padding-left: 15vw;
            font-size: 2.4rem;
        }
        @media(max-width: 360px) {
            padding-left: 10vw;
            font-size: 2.2rem;
        }
    }
}

.link {
    
    color: #E4DBBF;
    padding-bottom: 15px;
    text-decoration: none;

    &:hover {
        color: #383127;
    }

    &_active {
        text-decoration: underline;
        color: #383127;
    }
}

.main-page, .topic-page__table {
    padding-top: 45px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    justify-content: center;
    padding-bottom: 20px;
}

.word-card__container {
    perspective: 500px;
}

.word-card {
    perspective: 500px;
    border-radius: 5px;
    position: relative;
    margin: 20px 20px;
    width: 320px;
    height: 260px;
    transform-style: preserve-3d;
    transition: 0.7s;
    &:hover {
        -webkit-box-shadow: 0px 11px 23px 7px rgba(0,0,0,0.31);
        -moz-box-shadow: 0px 11px 23px 7px rgba(0,0,0,0.31);
        box-shadow: 0px 11px 23px 7px rgba(0,0,0,0.31);
        cursor: pointer;
    }
    &_front, &_back {
        border-radius: 5px;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        backface-visibility: hidden;
    }
    
    &_back {
        transform: rotateY(180deg);

    }

    &__image-block {
        width: 320px;
        border-radius: 5px 5px 0 0;
        height: 210px;
        overflow: hidden;
        &__image {
            width: 100%;
            height: 100%;
            &_play {
                width: 126%;
                margin-left: -40px;
            }
        }

        &_play {
            height: 260px;
            border-radius: 5px;
        }
    }

    &__name {
        color: #383127;
        font-size: 2.8rem;
        padding-top: 5px;
        text-align: center;
    }

    &__refresh {
        height: 27px;
        position: absolute;
        top: 222px;
        left: 277px;
        cursor: pointer;
        &:hover {
            transform: rotateZ(180deg);
            transition: 0.3s;
        }
    }
}


.rotate {
    transform: rotateY(180deg);
}

.none {
    display: none;
}

.topic-page {
    padding-bottom: 20px;
}

.topic-card {
    margin: 20px 20px;
    width: 320px;
    border-radius: 5px;
    height: 260px;
    background: linear-gradient(to bottom, #DC5B21, rgb(206, 156, 133) 40%, #fff 0%); 


    &__image-block {
        width: 150px;
        margin: 0 auto;
        margin-top: 16px;
        height: 150px;
        border: 10px solid #ffffff;
        border-radius: 50%;
        overflow: hidden;

        &__image {
            margin: 0px 0 0 -47px;
            width: initial;
            height: 100%;
        }
    }

    &__name {
        color: #383127;
        font-size: 2.8rem;
        padding-top: 10px;
        text-align: center;
    }

    &:hover {
        -webkit-box-shadow: 0px 11px 23px 7px rgba(0,0,0,0.31);
        -moz-box-shadow: 0px 11px 23px 7px rgba(0,0,0,0.31);
        box-shadow: 0px 11px 23px 7px rgba(0,0,0,0.31);
        transform: scale(1.05);
        transition: 0.3s;
        z-index: 1;
        cursor: pointer;
    }
}

.topic-card_play {
    background: linear-gradient(to bottom, #70AB8F, rgb(1, 138, 76) 40%, #fff 0%); 
}

.rating {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    top: 70px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
    text-align: right;
    @media (max-width: 360px) {
        max-width: 250px;
    }
}

.buttons {
    cursor: pointer;
    width: 40%;
    height: 70px;
    border-radius: 20px;
    font-size: 2.6rem;
    background: linear-gradient(to bottom, #70AB8F, #018a4c);
    margin: 0 auto;
    transition: 0.3s;
    &__start {
        text-align: center;
        padding-top: 20px;
        color: #E4DBBF;
        @media (max-width: 360px) {
            padding-top: 7px;
        }
    }
    &:hover {
        transform: scale(1.05);
    }
}

.repeat {
    width: 70px;
    border-radius: 50%;
    transition: 0.3s;
    font-size: 0;
    background-image: url("../images/repeat.svg"),linear-gradient(to bottom, #70AB8F, #018a4c);
    background-size: 45px 45px, cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.mistakes {
    font-size: 10rem;
}

.chosen-card {
    opacity: 0.3;
}

.star {
    margin-right: 5px;
    display: inline-block;
    width: 38px;
    height: 39px;
    &__image {
        width: 35px;
        height: 35px;
    }
    @media(max-width: 360px) {
        margin-right: 6px;
    }
}

.text_win, .text_lose, .name, .reset {
    margin: 0 auto;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    padding-top: 10vh;
    max-width: 1400px;
    @media (max-width: 1100px) {
        font-size: 3.8rem;
    }
    @media (max-width: 736px) {
        font-size: 2.7rem;
    }
    @media (max-width: 360px) {
        font-size: 2rem;
    }
}

.text_win {
    color: #00a344;
}

.text_lose {
    color: #530000;
}

.result {
    padding-top: 9vh;
    width: 430px;
    margin: 0 auto;
    max-width: 1400px;
    @media (max-width: 736px) {
        width: 200px;
    }
}

.name {
    color: #525252;
    padding-top: 5vh;
}

.reset {
    margin: 0 auto;
    line-height: 60px;
    padding-top: 10px;
    font-weight: 700;
    text-align: center;
    height: 60px;
    background-color: #959b74;
    color: #4c4852;
    border: 2px solid #525252;
    border-radius: 30px;
    padding-top: 0;
    margin-top: 15px;
    cursor: pointer;
    width: 40%;
    transition: 0.2s;
    &:hover {
        transform: scale(1.02);
    }
}

.statistics-table {
    margin: 20px auto;
    border: 2px solid #525252;
    font-size: 1rem;
    table-layout: fixed;
    overflow: auto;
    background-color: #dfffd2;
}

th, td {
    padding: 4px 0;
    font-size: 1.3rem;
    font-weight: 700;
    width: 92px;
    text-align: center;
    white-space: nowrap;
    @media (max-width: 800px) {
        font-size: 1.1rem;
        width: 70px;
    }
    @media (max-width: 640px) {
        font-size: 1rem;
        width: 50px;
    }
    @media (max-width: 490px) {
        font-size: 0.9rem;
        width: 32px;
    }
}

td {
    font-size: 1.05rem;
    font-weight: 400;
    @media (max-width: 800px) {
        font-size: 1rem;
    }
    @media (max-width: 640px) {
        font-size: 0.9rem;
    }
    @media (max-width: 490px) {
        font-size: 0.7rem
    }
}

tr th:hover {
    cursor: pointer;
    background-color: #a4b495;
}

tr {
    border: 1px solid #c0c0c0;
}
