html {
  font-size: 10px;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background-color: #E4DBBF;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger span {
  background-color: gray;
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 4px;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.burger:hover {
  cursor: pointer;
}

.burger:hover span {
  background-color: #a7a5a5;
}

.burger_active span:nth-child(2) {
  opacity: 0;
}

.burger_active span:first-child {
  margin-bottom: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger_active span:last-child {
  margin-bottom: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mode {
  position: relative;
}

.checkbox {
  right: 0;
}

.checkbox input {
  position: absolute;
  opacity: 0;
}

.checkbox__text {
  position: relative;
  font-size: 2.4rem;
  font-weight: 400;
  color: #E4DBBF;
}

.checkbox__text:before {
  content: '';
  right: 0;
  position: absolute;
  top: -4px;
  width: 120px;
  height: 35px;
  border-radius: 7px;
  background: -webkit-gradient(linear, left top, left bottom, from(#DC5B21), to(#ff9665));
  background: linear-gradient(to bottom, #DC5B21, #ff9665);
}

.checkbox__text:after {
  content: '';
  position: absolute;
  top: 2px;
  left: -113px;
  width: 22px;
  height: 22px;
  border-radius: 7px;
  background: #dddddd;
  -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
  -webkit-transition: .2s;
  transition: .2s;
}

.checkbox__text.train:before {
  content: 'TRAIN';
  padding-left: 38px;
  padding-top: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.checkbox__text.play:before {
  content: 'PLAY';
  padding-left: 14px;
  padding-top: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.checkbox input:checked + .checkbox__text:before {
  background: -webkit-gradient(linear, left top, left bottom, from(#70AB8F), to(#30694f));
  background: linear-gradient(to bottom, #70AB8F, #30694f);
}

.checkbox input:checked + .checkbox__text:after {
  left: -29px;
}

.side-menu {
  -webkit-transition: 200ms linear;
  transition: 200ms linear;
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100vh;
  width: 430px;
  left: -430px;
  background: -webkit-gradient(linear, left top, left bottom, from(#DC5B21), to(#ce9c85));
  background: linear-gradient(to bottom, #DC5B21, #ce9c85);
}

.side-menu_play {
  background: -webkit-gradient(linear, left top, left bottom, from(#70AB8F), to(#00ff8c));
  background: linear-gradient(to bottom, #70AB8F, #00ff8c);
}

.side-menu_active {
  -webkit-transition: 200ms linear;
  transition: 200ms linear;
  left: 0;
}
/*# sourceMappingURL=style.css.map */