html {
    font-size: 10px;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    background-color: #E4DBBF;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 0 40px;
    box-sizing: border-box;
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.burger {
    span {
        background-color: gray;
        display: block;
        width: 30px;
        height: 4px;
        margin-bottom: 4px;
        transition: .2s;
        transform-origin: left;
    }
    &:hover {
        cursor: pointer;
        span {
            background-color: rgb(167, 165, 165);
        }
    }
    &_active {
        span:nth-child(2) {
            opacity: 0;
        }
        span:first-child {
            margin-bottom: 10px;
            // width: 25px;
            transform: rotate(45deg);
        }
        span:last-child {
            margin-bottom: 10px;
            // width: 25px;
            transform: rotate(-45deg);
        }
    }
}

.mode {
    position: relative;
}
.checkbox {
    right: 0;
}

.checkbox input {
    position: absolute;
	opacity: 0;
}

.checkbox__text {
    // margin-top: -27px;
    position: relative;
    font-size: 2.4rem;
    font-weight: 400;
    color: #E4DBBF;
    &:before {
        content: '';
        right: 0;
        position: absolute;
        top: -4px;
        width: 120px;
        height: 35px;
        border-radius: 7px;
        background: linear-gradient(to bottom, #DC5B21, rgb(255, 150, 101));
    }

    &:after {
        content: '';
        position: absolute;
        top: 2px;
        left: -113px;
        width: 22px;
        height: 22px;
        border-radius: 7px;
        background: rgb(221, 221, 221);
        box-shadow: inset 0 0 7px rgba(0,0,0,.3);
        transition: .2s;
    }

    &.train:before {
        content: 'TRAIN';
        padding-left: 38px;
        padding-top: 3px;
        box-sizing: border-box;
    }
    
    &.play:before {
        content: 'PLAY';
        padding-left: 14px;
        padding-top: 3px;
        box-sizing: border-box;
    }
}

.checkbox input:checked + .checkbox__text:before {
    background: linear-gradient(to bottom, #70AB8F, rgb(48, 105, 79));
}
.checkbox input:checked + .checkbox__text:after {
	left: -29px;
}

.side-menu {
    transition: 200ms linear;
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100vh;
    width: 430px;
    left: -430px;
    background: linear-gradient(to bottom, #DC5B21, rgb(206, 156, 133));
    // &_train {
    //     background: linear-gradient(to bottom, #DC5B21, rgb(206, 156, 133));
    // }
    &_play {
        background: linear-gradient(to bottom, #70AB8F, rgb(0, 255, 140));
    }
    &_active {
        transition: 200ms linear;
        left: 0;
    }
}
