html {
  font-size: 10px;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background-color: #E4DBBF;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  position: relative;
  z-index: 3;
  padding-top: 30px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger span {
  background-color: #383127;
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.burger:hover {
  cursor: pointer;
}

.burger:hover span {
  background-color: #7e6c53;
}

.burger_active span:nth-child(2) {
  opacity: 0;
}

.burger_active span:first-child {
  width: 22px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger_active span:last-child {
  width: 22px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mode {
  position: relative;
}

.checkbox {
  right: 0;
}

.checkbox input {
  position: absolute;
  opacity: 0;
}

.checkbox__text {
  position: relative;
  font-size: 2.4rem;
  font-weight: 400;
  color: #E4DBBF;
}

.checkbox__text:before {
  content: '';
  right: 0;
  position: absolute;
  top: -4px;
  width: 120px;
  height: 35px;
  border-radius: 7px;
  background: -webkit-gradient(linear, left top, left bottom, from(#DC5B21), to(#ff9665));
  background: linear-gradient(to bottom, #DC5B21, #ff9665);
}

.checkbox__text:after {
  content: '';
  position: absolute;
  top: 2px;
  left: -113px;
  width: 22px;
  height: 22px;
  border-radius: 7px;
  background: #dddddd;
  -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
  -webkit-transition: .2s;
  transition: .2s;
}

.checkbox__text.train:before {
  content: 'TRAIN';
  padding-left: 38px;
  padding-top: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.checkbox__text.play:before {
  content: 'PLAY';
  padding-left: 14px;
  padding-top: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.checkbox input:checked + .checkbox__text:before {
  background: -webkit-gradient(linear, left top, left bottom, from(#70AB8F), to(#30694f));
  background: linear-gradient(to bottom, #70AB8F, #30694f);
}

.checkbox input:checked + .checkbox__text:after {
  left: -29px;
}

.side-menu {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  top: 0;
  z-index: 2;
  height: 100vh;
  width: 430px;
  left: -430px;
  background: -webkit-gradient(linear, left top, left bottom, from(#DC5B21), to(#ce9c85));
  background: linear-gradient(to bottom, #DC5B21, #ce9c85);
}

.side-menu_play {
  background: -webkit-gradient(linear, left top, left bottom, from(#70AB8F), to(#018a4c));
  background: linear-gradient(to bottom, #70AB8F, #018a4c);
}

.side-menu_active {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  left: 0;
}

.side-menu__links {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 140px 0 0 120px;
}

.link {
  font-size: 3rem;
  color: #E4DBBF;
  padding-bottom: 15px;
  text-decoration: none;
}

.link:hover {
  color: #383127;
}

.link_active {
  text-decoration: underline;
  color: #383127;
}

.main-page {
  height: auto;
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.topic-card {
  border-radius: 5px;
  height: 260px;
  background: -webkit-gradient(linear, left top, left bottom, from(#DC5B21), color-stop(40%, #ce9c85), color-stop(0%, #fff));
  background: linear-gradient(to bottom, #DC5B21, #ce9c85 40%, #fff 0%);
}

.topic-card__image-block {
  width: 150px;
  margin: 0 auto;
  margin-top: 16px;
  height: 150px;
  border: 10px solid #ffffff;
  border-radius: 50%;
  overflow: hidden;
}

.topic-card__image-block__image {
  margin: 0px 0 0 -47px;
  width: initial;
  height: 100%;
}

.topic-card__name {
  color: #383127;
  font-size: 2.8rem;
  padding-top: 10px;
  text-align: center;
}

.topic-card:hover {
  -webkit-box-shadow: 0px 11px 23px 7px rgba(0, 0, 0, 0.31);
  box-shadow: 0px 11px 23px 7px rgba(0, 0, 0, 0.31);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}

.topic-card_play {
  background: -webkit-gradient(linear, left top, left bottom, from(#70AB8F), color-stop(40%, #018a4c), color-stop(0%, #fff));
  background: linear-gradient(to bottom, #70AB8F, #018a4c 40%, #fff 0%);
}
/*# sourceMappingURL=style.css.map */